.session
*ensime*
project/boot
project/lib_managed
project/plugins/lib_managed
project/plugins/project/build.properties
project/test
src_managed
tags
target/
# config files
src/main/resources/velocity/velocity.properties
/config.json
/config.prod.json
/log4j.properties
/velocity.properties
node_modules/
nginx.local.conf
mongod.local.conf
