<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    #set( $title = "Thanks!" )
    #set( $description = "You authorized us to read your reading list on Readability. Thanks!" )
    #parse("templates/head.vm")
    #if (${personalInfo.isDefined()})
    <meta http-equiv="refresh" content="5;url=/article/list" />
    #end
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1><a href="/article/list">Persnicketly<span class="headerCurl"></span></a></h1>
      </header>
      <div id="content" class="thanks">
        #set ( $name = "guy" )
        #if (${personalInfo.isDefined()})
          #set ( $name = "${personalInfo.get().firstName()}" )
        #end
        <section id="what">
          <h2>Hey thanks ${name}!</h2>
          <p>You're now all set up to begin using Persnicketly. <strong>We hope you enjoy it!</strong></p>
          <p class="chair"><img class="hero" src="/img/big_chair.png" alt="" /></p>
        </section>
        <section id="when">
          <h3>We'll redirect you to see the top bookmarks in a hot second...</h3>
          <h4>Or you can click this button:</h4>
          <a id="articles" class="cta" href="/article/list">
            <img src="/img/yellow_star.png" alt="" width="33" />
            <span>See top bookmarks</span>
          </a>
        </section>
        #set( $ogRef = $uri )
        #parse("templates/sharing.vm")
      </div>
      <footer>
        <p>Persnicketly &copy; 2011</p>
        <a href="/about">about</a>
      </footer>
    </div>
    <script src="/js/persnicketly.js"></script>
  </body>
</html>

