## Create a list of articles for a given user
## $articles - Collection of com.persnicketly.model.ScoredArticle to display
## $user - Option representing whether or not the user is logged in
#macro(renderArticles $articles $user)
          <ol class="articles">
            #foreach( $scored in $articles )
            #set( $article = $scored.article() )
            #set( $isLoggedIn = $user.isDefined() )
            <li #if ($velocityCount % 2 == 0)class="odd"#end>
              <h3><a href="/article/read/${article.articleId()}">${article.title()}</a></h3>
              #if (${article.excerpt().isDefined()})
              <p class="excerpt">${article.excerpt().get()}</p>
              #end
              <p class="meta">
                #if (${article.publishedDisplay().isDefined()})
                <span class="published">${article.publishedDisplay().get()}</span>
                #end
                <span class="favorited"><span>Times Favorited:</span> ${scored.numFavorites()}</span>
                <span class="bookmarked"><span>Times Bookmarked:</span> ${scored.numBookmarks()}</span>
              </p>
              #if (${article.domain()})
              <p class="original">
                <a href="${article.url()}" rel="canonical">
                  <img src="http://${article.domain()}/favicon.ico" alt="" width="16" height="16" />
                  <span>${article.domain()}</span>
                </a>
              </p>
              #end
              #if ($isLoggedIn)
                #if ($scored.isFavorited())
                <a class="corner starred" href="/article/unstar/${article.articleId()}">Remove Favorite</a>
                #elseif ($scored.isBookmarked())
                <a class="corner star" href="/article/star/${article.articleId()}">Mark as Favorite</a>
                #else
                <a class="corner add" href="/article/add/${article.articleId()}">Add</a>
                #end
              #end
            </li>
            #end
          </ol>
#end

#macro(footer $klass)
      <footer>
        <p>Persnicketly &copy; 2011 - 2012</p>
        <a class="$!{klass}" href="/about">about</a>
      </footer>
#end
