# Store data in /Volumes/Freelance/projects/personal/readability/db instead of the default /data/db
dbpath = ${persnicketly-tmp}/db
logpath = ${persnicketly-tmp}/mongodb.log
logappend = false

# Only accept local connections
bind_ip = 127.0.0.1
port = 27017
# Enable Write Ahead Logging (not enabled by default in production deployments)
journal = true
