/* Reset */
html, body, div, span, a, img, p, ul, ol, li, h1, h2, h3, h4, h5 {
  margin: 0; border: 0; padding: 0; vertical-align: baseline;
}
ul, ol { list-style: none; }
body {
  font-size: 100%; font-family: "museo-slab-1", "museo-slab-2", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 700; line-height: 1; color: #4d4b44; background: #fff;
}
/* General */
a { color: #6a3387; text-decoration: none; }
a:hover { text-decoration: underline; }
p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.375; }
p[class] {
  font-family: "museo-slab-1", "museo-slab-2", "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: 500;
}
header, nav, footer, section { display: block; }
#wrapper { background: url(/img/background.png) left top; }
header {
  position: relative; z-index: 2; background: url(/img/paper.png) right bottom;
  box-shadow: rgba(0,0,0,0.6) 1px 1px 4px; -webkit-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px; -ms-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px;
}
header h1 {
  padding: 10px 2.857142857%; color: #868378; font-size: 1.6875em; font-weight: 500;
  text-shadow: rgba(255,255,255,0.75) 0px 0px 5px, #46443f -1px -1px 0px;
  text-indent: -9999px; background: url(/img/logo.png) no-repeat 3.095% center;
}
header h1 a { display: block; color: #868378; }
h2, h3, h4, p { padding: 0 10px; }
h2, h3 { /*text-shadow: rgba(0, 0, 0, 0.199219) 1px 1px 0px;*/ }
h2 { position: relative; margin: 0 0 10px; padding-top: 10px; font-size: 1.1875em; color: #6a3387; }
h3 { font-size: 1.25em; font-weight: 500; margin: 15px 0 4px; color: #119337; }
h4 {
  margin: 13px 0 0; font-size: 0.8125em; font-weight: 500;
  text-transform: uppercase; -webkit-font-smoothing: antialiased;
}
/* Home */
.home .col, .thanks .col { position: relative; }
.home .hero, .thanks .hero { margin: 9px 0 0 6px; max-width: 92.8825623%; }
.home p, .thanks p { font-size: 0.8125em; line-height: 1.384615385; }
/* Article List */
.list h2 {
  margin: 10px 2.507836991% 15px 0; padding: 11px 2.903225806% 9px;
  font-size: 1.125em; font-weight: 700; color: #fff; background: #fbbd12; line-height: 1; text-transform: uppercase;
  box-shadow: rgba(0,0,0,0.33) 1px 1px 1px; -webkit-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px;
  -moz-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px; -ms-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px;
}
.list li {
  position: relative; margin: 0 2.507836991% 0.75em; padding: 1em 10px 10px; background: #fafaf9;
  box-shadow: rgba(0,0,0,0.63) 0 0 4px; -webkit-box-shadow: rgba(0,0,0,0.63) 0 0 4px;
  -moz-box-shadow: rgba(0,0,0,0.63) 0 0 4px; -ms-box-shadow: rgba(0,0,0,0.63) 0 0 4px;
}
.list h3 { padding: 0 100px 0 0; margin: 0; font-size: 0.9375em; font-weight: 500; line-height: 1.133333333; }
.list h3 a { color: #4d4b44; }
.list h3:before {
  content: ' '; display: block; position: absolute; top: 0; left: 0; width: 82%; height: 5px;
  background: #fbbd12 url(/img/strip_slant.png) no-repeat right top;
}
.list p {
  padding: 0; font-size: 0.75em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;
}
.list .excerpt { padding: 3px 0 0; color: #41403a; }
.list .meta { position: absolute; top: 5px; right: 10px; padding: 10px 0; height: 1em; font-size: 0.625em; }
.meta .favorited, .meta .bookmarked {
  float: left; display: block; position: relative; top: -4px; padding: 4px 3px 3px; min-width: 34px; background: #ededed;
}
.meta span span { display: inline-block; width: 12px; height: 12px; background: no-repeat center; text-indent: -9999px; }
.meta .favorited span { background-image: url(/img/stars.png); }
.meta .bookmarked { margin: 0 0 0 5px; }
.meta .bookmarked span { background-image: url(/img/bookmark.png); }
p.original { padding: 15px 0 0; height: 16px; font-size: 0.5em; line-height: 1.6; text-transform: uppercase; }
.original a { color: #7a7a7a; }
.original a:hover { color: #41403a; text-decoration: none; }
.original a:hover span { text-decoration: underline; }
.original span { position: relative; top: -4px; }
.add {
  display: block; position: absolute; bottom: 0; right: 0; width: 50px; height: 50px;
  background: url(/img/add.png) no-repeat left top; text-indent: -9999px;
}
/* About */
#content {
  position: relative; margin: 0 2.507836991% 20px; padding: 12px 15% 10px 0; background: #fafaf9;
  box-shadow: rgba(0,0,0,0.6) 1px 1px 4px; -webkit-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px; -ms-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px;
}
.about section { padding: 24px 0 0; }
.about h2 { text-transform: uppercase; }
.about h2:before {
  content: ' '; display: block; position: absolute; top: 0; left: 0; width: 82%; height: 5px;
  background: #fbbd12 url(/img/strip_slant.png) no-repeat right top;
}
.about h3 { margin: 0; padding: 29px 0 10px 10px; color: #119337; }
#about h2 { color: #47abcb; }
#about h2:before { background-color: #47abcb; }
#more h2 { color: #bd1c9d; }
#more h2:before { background-color: #bd1c9d; }
#contact h2 { color: #f66e24; }
#contact h2:before { background-color: #f66e24; }
.about .tagline { margin: 0 0 6px; font-size: 1em; line-height: 1.25; -webkit-font-smoothing: antialiased; }
.about p { font-size: 0.8125em; line-height: 1.384615385; }
.about ol { counter-reset: li; }
.ie7 .about ol, .ie6 .about ol { padding: 0 0 0 40px; list-style: decimal outside; }
.ie7 .about li, .ie6 .about li { padding-left: 0; }
.about li {
  position: relative; margin: 0 0 17px; padding: 4px 0 0 40px; min-height: 19px;
  font-weight: 500; line-height: 1.25; -webkit-font-smoothing: antialiased;
}
.about li:before {
  position: absolute; top: 0; left: 0; padding: 3px 0 0 11px; width: 28px; height: 20px; color: #fff;
  content: counter(li); counter-increment: li; font-weight: 700; background: url(/img/bg_li.png) no-repeat -1px top;
}
.about em { font-style: normal; font-weight: 700; color: #119337; }
.about footer p { font-size: 1em; }
/* Calls to Action */
.cta {
  display: block; position: relative; margin: 2px 0 0 10px; padding: 13px 0 10px 0; width: 75%; min-width: 280px;
  color: #fff; font-size: 0.95em; text-transform: uppercase; line-height: 1; text-shadow: rgba(0,0,0,0.2) 1px 1px 0;
  background: url(/img/bg_arrow.png) no-repeat right center;
  box-shadow: rgba(0,0,0,0.33) 1px 1px 1px; -webkit-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px;
  -moz-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px; -ms-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px;
}
.cta:hover { text-decoration: none; }
.cta img { position: absolute; top: 3px; left: 3px; }
.cta span { position: relative; top: -2px; left: 30px; z-index: 3; }
#signIn { background-color: #4eacca; }
#signUp { background-color: #ba239c; }
#learnMore { background-color: #683686; }
#emailUs { background-color: #f66e24; }
#followUs { background-color: #fbbd12; }
/* Who */
#who { clear: both; margin: 20px 0; font-weight: 500; text-align: center; color: #5d5d5d; }
#who p {
  font-family: "museo-slab-1", "museo-slab-2", "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: 500;
}
#who span { padding: 0 4px; color: #fff; }
#bryan { background: #683686; }
#diesel { background: #4eacca; }
/* 404 */
.placekitten { position: relative; margin: 8px 0 0; }
.placekitten img { max-width: 100%; }
/* Footer */
footer {
  position: relative; padding: 16px 0 0 2.507836991%; height: 26px; font-size: 0.70em; font-weight: normal;
  background: url(/img/bg_footer.png) repeat-x left top;
}
footer p {
  padding: 0; color: #aaa9a3; color: rgba(255,255,255,0.52); text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer a {
  display: block; position: absolute; top: 2px; right: 2.507836991%; padding: 13px 0 0 18px; height: 25px;
  color: #fff; color: rgba(255,255,255,0.95); background: url(/img/bg_about.png) no-repeat left top;
}
footer a:hover { text-decoration: none; }
footer a.active { color: #3b3934; text-shadow: rgba(255, 255, 255, 0.4) 0px 0px 5px; }
@media screen and (max-width: 640px),
       screen and (max-device-width: 480px),
       screen and (-webkit-min-device-pixel-ratio: 2) {
  header { }
  .about h2:before { width: 90%; }
  #content { padding-right: 10px; }
  .cta { width: auto; }
}
@media screen and (orientation: landscape) and (max-device-width: 480px) {
  body { font-size: 10px; }
  /* I have no idea why this is necessary, it really shouldn't be but this element
   * shrinks without it when iPhone4 rotates to landscape */
  .about h3 { font-size: 2em; }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  header h1 {
    background-image: url(/img/x2/logo.png);
    -o-background-size: auto 37px; -webkit-background-size: auto 37px; -moz-background-size: auto 37px;
  }
  .about h2:before, .list h3:before {
    background-image: url(/img/x2/strip_slant.png);
    -o-background-size: auto 5px; -webkit-background-size: auto 5px; -moz-background-size: auto 5px;
  }
  .meta .favorited span { background-image: url(/img/x2/stars.png); }
  .meta .bookmarked span { background-image: url(/img/x2/bookmark.png); }
  .meta .favorited span, .meta .bookmarked span {
    -o-background-size: auto 12px; -webkit-background-size: auto 12px; -moz-background-size: auto 12px;
  }
  .about li:before {
    background: url(/img/x2/bg_li.png) no-repeat -1px top;
    -o-background-size: auto 23px; -webkit-background-size: auto 23px; -moz-background-size: auto 23px;
  }
  .cta {
    background: url(/img/x2/bg_arrow.png) no-repeat right center;
    -o-background-size: 34px 21px; -webkit-background-size: 34px 21px; -moz-background-size: 34px 21px;
  }
  footer {
    background: url(/img/x2/bg_footer.png) repeat-x left top;
    -o-background-size: auto 42px; -webkit-background-size: auto 42px; -moz-background-size: auto 42px;
  }
}
@media screen and (min-width: 850px) {
  header h1 { padding-right: 5%; padding-left: 5%; background-position: 5.5% center; }
  #content { margin: 0 5% 20px; padding-right: 0; overflow: hidden; }
  .list li { margin-right: 5%; margin-left: 5%; }
  .list h2 { margin-right: 5%; padding-left: 5%; }
  #who { clear: both; margin-top: 0; padding: 15px 0 0; }
  .col { float: left; width: 49%; }
  .col.last { margin: 0 0 0 5.5%; width: 44.5%; }
  .home .hero, .thanks .hero { max-width: 135%; }
  #when { clear: left; float: right; }
  .col .cta { margin-right: 10px; width: auto; }
  footer { padding-left: 5%; }
  footer a { right: 5%; }
}
