/* Reset */
html { -webkit-text-size-adjust: none; }
html, body, div, span, a, img, p, ul, ol, li, h1, h2, h3, h4, h5 {
  margin: 0; border: 0; padding: 0; vertical-align: baseline;
}
ul, ol { list-style: none; }
body {
  font-size: 100%; font-family: "museo-slab-1", "museo-slab-2", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 700; line-height: 1; color: #4d4b44; background: #fff;
}
.wf-active body { -webkit-font-smoothing: antialiased; }
/* General */
a { color: #6a3387; text-decoration: none; }
a:hover { text-decoration: underline; }
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.375;
  -webkit-font-smoothing: subpixel-antialiased;
}
p[class] {
  font-family: "museo-slab-1", "museo-slab-2", "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: 500;
}
strong { font-weight: 700; }
hr { display: none; clear: both; margin: 0; border: 0; padding: 0; height: 1px; visibility: hidden; }
header, nav, footer, section { display: block; }
#wrapper { background: url(/img/background.png) left top; }
header {
  position: relative; z-index: 2; background: url(/img/paper.png) right bottom;
  box-shadow: rgba(0,0,0,0.6) 1px 1px 4px; -webkit-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px; -ms-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px;
}
header h1 {
  padding: 10px 2.857142857%; color: #868378; font-size: 1.6875em; font-weight: 500;
  text-shadow: rgba(255,255,255,0.75) 0px 0px 5px, #46443f -1px -1px 0px;
  text-indent: -9999px; background: url(/img/logo.png) no-repeat 3.095% center;
}
header h1 a { display: block; color: #868378; }
h2, h3, h4, p { }
h2 { position: relative; margin: 0 0 10px; padding-top: 10px; font-size: 1.1875em; }
h3 { font-size: 1.25em; font-weight: 500; margin: 15px 0 4px; }
h4 { margin: 13px 0 0; font-size: 0.8125em; font-weight: 500; text-transform: uppercase; }
/* Home */
.home .col, .thanks .col { position: relative; }
.home h2 { font-size: 1em; font-weight: 500; }
.home .hero { margin: 9px 0 0 6px; max-width: 92.8825623%; }
.home p { font-size: 0.8125em; line-height: 1.384615385; }
.please {
  float: right; margin: 0 auto; padding: 13px 0 0 103px; max-width: 350px;
  background: url(/img/pointy_arrow.png) no-repeat 50px 8px;
}
.getData { position: relative; width: 75%; overflow: hidden; }
.getData .cta { width: auto; }
/* Thanks */
.thanks h2 { font-size: 1.1875em; color: #bd1c9d; text-transform: uppercase; text-align: center; }
.thanks .hero { max-width: 92.8825623%; }
.thanks p { padding: 0 5.6478405%; font-size: 1em; text-align: center; line-height: 1.384615385; }
.thanks .chair { margin: 10px 0 -5px; text-align: center; }
.thanks h3 {
  padding: 0 13.289036545%; font-size: 0.9375em; font-weight: 500; color: #47abcb; line-height: 1.4; text-align: center;
}
/* Article List */
.list h2 {
  margin: 10px 2.507836991% 15px 0; padding: 11px 2.903225806% 9px; text-shadow: rgba(0, 0, 0, 0.199219) 1px 1px 0px;
  font-size: 1.125em; font-weight: 700; color: #fff; background: #fbbd12; line-height: 1; text-transform: uppercase;
  box-shadow: rgba(0,0,0,0.33) 1px 1px 1px; -webkit-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px;
  -moz-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px; -ms-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px;
}
.list li {
  position: relative; margin: 0 2.507836991% 0.75em; padding: 1em 10px 10px; background: #fafaf9;
  box-shadow: rgba(0,0,0,0.63) 0 0 4px; -webkit-box-shadow: rgba(0,0,0,0.63) 0 0 4px;
  -moz-box-shadow: rgba(0,0,0,0.63) 0 0 4px; -ms-box-shadow: rgba(0,0,0,0.63) 0 0 4px;
}
.list h3 { padding: 0 100px 0 0; margin: 0; font-size: 0.9375em; font-weight: 500; line-height: 1.133333333; }
.list h3 a { color: #4d4b44; }
.list h3:before {
  content: ' '; display: block; position: absolute; top: 0; left: 0; width: 82%; height: 5px;
  background: #fbbd12 url(/img/strip_slant.png) no-repeat right top;
}
.list p {
  padding: 0; font-size: 0.75em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;
}
.list .excerpt { padding: 3px 0 0; color: #41403a; }
.list .meta { position: absolute; top: 5px; right: 10px; padding: 10px 0; height: 1em; font-size: 0.625em; }
.meta .favorited, .meta .bookmarked {
  float: left; display: block; position: relative; top: -4px; padding: 4px 3px 3px; min-width: 34px; background: #ededed;
}
.meta span span { display: inline-block; width: 12px; height: 12px; background: no-repeat center; text-indent: -9999px; }
.meta .favorited span { background-image: url(/img/stars.png); }
.meta .bookmarked { margin: 0 0 0 5px; }
.meta .bookmarked span { background-image: url(/img/bookmark.png); }
p.original { padding: 15px 0 0; height: 16px; font-size: 0.5em; line-height: 1.6; text-transform: uppercase; }
.original a { color: #7a7a7a; }
.original a:hover { color: #41403a; text-decoration: none; }
.original a:hover span { text-decoration: underline; }
.original span { position: relative; top: -4px; }
.add {
  display: block; position: absolute; bottom: 0; right: 0; width: 50px; height: 50px;
  background: url(/img/add.png) no-repeat left top; text-indent: -9999px;
}
/* About */
#content {
  position: relative; margin: 0 2.507836991%; padding: 12px 10px 10px; background: #fafaf9;
  box-shadow: rgba(0,0,0,0.6) 1px 1px 4px; -webkit-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px; -ms-box-shadow: rgba(0,0,0,0.6) 1px 1px 4px;
}
.about section { padding: 24px 0 0; }
.about h2 { text-transform: uppercase; }
.about h2:before {
  content: ' '; display: block; position: absolute; top: 0; left: -10px; width: 82%; height: 5px;
  background: #fbbd12 url(/img/strip_slant.png) no-repeat right top;
}
.about h3 { margin: 0; padding: 29px 0 10px 10px; color: #119337; }
#back {
  display: block; position: absolute; top: 0; left: 10px; padding: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.6875em; font-weight: normal; color: #868378; text-transform: uppercase;
  box-shadow: rgba(0,0,0,0.5) 0 0 4px; -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 4px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 0 4px; -ms-box-shadow: rgba(0,0,0,0.5) 0 0 4px;
}
#back:hover { text-decoration: underline; }
#about h2 { color: #47abcb; }
#about h2:before { background-color: #47abcb; }
#more h2 { color: #bd1c9d; }
#more h2:before { background-color: #bd1c9d; }
#contact h2 { color: #f66e24; }
#contact h2:before { background-color: #f66e24; }
.about .tagline { margin: 0 0 6px; font-size: 1em; line-height: 1.25; }
.about p { font-size: 0.8125em; line-height: 1.384615385; }
.about ol { counter-reset: li; }
.ie7 .about ol, .ie6 .about ol { padding: 0 0 0 40px; list-style: decimal outside; }
.ie7 .about li, .ie6 .about li { padding-left: 0; }
.about li {
  position: relative; margin: 0 0 17px; padding: 4px 0 0 40px; min-height: 19px; font-weight: 500; line-height: 1.25;
}
.about li:before {
  position: absolute; top: 0; left: 0; padding: 3px 0 0 11px; width: 28px; height: 20px; color: #fff;
  content: counter(li); counter-increment: li; font-weight: 700; background: url(/img/bg_li.png) no-repeat -1px top;
}
.about em { font-style: normal; font-weight: 700; color: #119337; }
.about footer p { font-size: 1em; }
/* Calls to Action */
.cta {
  display: block; position: relative; margin: 2px 0 0; padding: 13px 0 10px 0; width: 75%; min-width: 280px;
  color: #fff; font-size: 0.95em; text-transform: uppercase; line-height: 1; text-shadow: rgba(0,0,0,0.2) 1px 1px 0;
  background: url(/img/bg_arrow.png) no-repeat right center;
  box-shadow: rgba(0,0,0,0.33) 1px 1px 1px; -webkit-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px;
  -moz-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px; -ms-box-shadow: rgba(0,0,0,0.33) 1px 1px 1px;
}
.cta:hover { text-decoration: none; }
.cta img { position: absolute; top: 3px; left: 3px; }
.cta span { position: relative; top: -2px; left: 30px; z-index: 3; }
#signIn { background-color: #4eacca; }
#signUp { background-color: #ba239c; }
#learnMore { background-color: #683686; }
#emailUs { background-color: #f66e24; }
#followUs, #articles { background-color: #fbbd12; }
#followUs span, #articles span { top: 0; }
/* Sharing */
#sharing { clear: both; margin: 10px 0 0; padding: 10px 0; background: #e7e7e6; overflow: hidden; }
#sharing .col { padding: 0 10px; }
#sharing h1, #sharing h2 { text-align: center; }
#sharing h2 {
  margin: 0 0 15px; padding: 0 13.2352941%;
  font-size: 0.8125em; font-weight: 500; line-height: 1.076923077; color: #bd1c9d;
}
#sharing h1 {
  margin: 0; padding: 0 13.2352941%; text-transform: uppercase;
  font-size: 1em; font-weight: 700; line-height: 0.875; color: #119337;
}
#sharing .stars { margin: 15px 0 0; max-width: 100%; }
#sharing h4 { padding: 5px 0; }
#sharing .cta { margin: 0 1px 0 0; background-color: #47abcb; background-image: none; }
#sharing .cta img { top: 0; }
#sharing .twitter-share-button { position: absolute; top: 9px; right: 7px; }
#sharing .like-wrapper { position: absolute; top: 9px; right: 7px; width: 48px; height: 20px; overflow: hidden; }
.fb_iframe_widget span { position: relative; top: auto; left: auto; }
/* Who */
#who { clear: both; margin: 20px 0; font-weight: 500; text-align: center; color: #5d5d5d; }
#who p {
  font-family: "museo-slab-1", "museo-slab-2", "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: 500;
}
#who span { padding: 0 4px; color: #fff; }
#bryan { background: #683686; }
#diesel { background: #4eacca; }
/* Error */
.error h2 { font-weight: 500; color: #bd1c9d; text-align: center; }
.error p { font-size: 0.875em; font-weight: 500; line-height: 1.428571429; }
.error p a { color: #4d4b44; text-decoration: underline; }
.error p a:hover { color: #bd1c9d; text-decoration: none; }
.error .cta { margin-bottom: 15px; }
.placekitten { position: relative; margin: 8px 0 0; }
.placekitten img { max-width: 100%; }
/* Footer */
footer {
  position: relative; margin: -2px 0 0; padding: 16px 0 0 2.507836991%; height: 26px;
  font-size: 0.70em; font-weight: normal; background: url(/img/bg_footer.png) repeat-x left top;
}
footer p { padding: 0; color: #aaa9a3; color: rgba(255,255,255,0.52); text-transform: uppercase; }
footer a {
  display: block; position: absolute; top: 2px; right: 2.507836991%; padding: 13px 0 0 18px; height: 25px;
  color: #fff; color: rgba(255,255,255,0.95); background: url(/img/bg_about.png) no-repeat left top;
}
footer a:hover { text-decoration: none; }
footer a.active { color: #3b3934; text-shadow: rgba(255, 255, 255, 0.4) 0px 0px 5px; }
@media screen and (max-width: 640px),
       screen and (max-device-width: 480px) {
  header { }
  .about h2:before { width: 90%; }
  #content { padding-right: 10px; }
  .cta { width: auto; }
  .getData { width: auto; }
  #sharing { width: auto; }
  #sharing .col { padding: 0 5px; }
  #sharing .stars { display: none; }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  header h1 {
    background-image: url(/img/x2/logo.png);
    -o-background-size: auto 37px; -webkit-background-size: auto 37px; -moz-background-size: auto 37px;
  }
  .please {
    background-image: url(/img/x2/pointy_arrow.png);
    -o-background-size: auto 49px; -webkit-background-size: auto 49px; -moz-background-size: auto 49px;
  }
  .about h2:before, .list h3:before {
    background-image: url(/img/x2/strip_slant.png);
    -o-background-size: auto 5px; -webkit-background-size: auto 5px; -moz-background-size: auto 5px;
  }
  .meta .favorited span { background-image: url(/img/x2/stars.png); }
  .meta .bookmarked span { background-image: url(/img/x2/bookmark.png); }
  .meta .favorited span, .meta .bookmarked span {
    -o-background-size: auto 12px; -webkit-background-size: auto 12px; -moz-background-size: auto 12px;
  }
  .about li:before {
    background: url(/img/x2/bg_li.png) no-repeat -1px top;
    -o-background-size: auto 23px; -webkit-background-size: auto 23px; -moz-background-size: auto 23px;
  }
  .cta {
    background: url(/img/x2/bg_arrow.png) no-repeat right center;
    -o-background-size: 34px 21px; -webkit-background-size: 34px 21px; -moz-background-size: 34px 21px;
  }
  footer {
    background: url(/img/x2/bg_footer.png) repeat-x left top;
    -o-background-size: auto 42px; -webkit-background-size: auto 42px; -moz-background-size: auto 42px;
  }
}
@media screen and (min-width: 850px) {
  header { margin: 0 8.8% 0 14%; }
  header h1 { padding: 31px 10px 15px; background-position: 5px 26px; }
  #content { margin: 0 8.8% 0 14%; }
  footer { padding: 16px 8.8% 0 14%; }
  footer p { padding: 0 0 0 10px; }
  footer a { right: 8.8%; padding-right: 10px; }
  /* Home */
  .home .col { float: left; margin: 0 1.351351351%; width: 47%; }
  .home .col.last { float: right; }
  .home .col.last:after { content: ' '; clear: both; display: block; height: 0; visibility: hidden; overflow: hidden; }
  .home hr { display: block; }
  .home .cta { width: auto; }
  .home .getData { width: auto; }
  /* Thanks */
  .thanks h2 { padding-top: 40px; }
  .thanks section { padding: 0 6%; width: 38%; }
  .thanks h3, .thanks p { padding: 0; }
  .thanks .chair { position: absolute; top: 25px; right: 3.242542153%; padding: 0; width: 48%; }
  .thanks .chair img { width: auto; max-width: 100%; }
  .thanks #sharing { margin-top: 50px; }
  /* Sharing */
  #sharing { clear: both; width: auto; overflow: hidden; }
  #sharing .col { float: left; margin: 0; padding: 0 1.351351351%; width: 47%; }
  #sharing .col.last { float: right; }
  #sharing .cta { width: auto; }
  /* Error */
  .error section { padding: 0 6% 150px; width: 38%; }
  .error .placekitten { position: absolute; top: 16px; right: 3.242542153%; padding: 0; width: 48%; }
  .error .placekitten img { width: auto; max-width: 100%; }
}
