<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    #set( $title = "Top Articles on Persnicketly" )
    #set( $description = "Higest rated recent articles according to our Readability users." )
    #set( $ogTitle = "Persnicketly" )
    #set( $ogDescription = "Collecting Readability stars since 2011" )
    #parse("templates/head.vm")
  </head>
  <body>
    <div id="wrapper">
      <header>
        #if (${user.isEmpty()})
        <h1><a href="/">Persnicketly<span class="headerCurl"></span></a></h1>
        #else
        <h1>Persnicketly<span class="headerCurl"></span></h1>
        #end
      </header>
      <div id="content" class="list">
        <section>
          <header>
            <h2>Top Bookmarks</h2>
            <h3 class="generated">for Today</h3>
          </header>
          <ul class="articles">
            #foreach( $scored in $articles )
            #set( $article = $scored.article() )
            #set( $isLoggedIn = $user.isDefined() )
            <li #if ($velocityCount % 2 == 0)class="odd"#end>
              <h3><a href="/article/read/${article.articleId()}">${article.title()}</a></h3>
              #if (${article.excerpt().isDefined()})
              <p class="excerpt">${article.excerpt().get()}</p>
              #end
              <p class="meta">
                #if (${article.publishedDisplay().isDefined()})
                <span class="published">${article.publishedDisplay().get()}</span>
                #end
                <span class="favorited"><span>Times Favorited:</span> ${scored.numFavorites()}</span>
                <span class="bookmarked"><span>Times Bookmarked:</span> ${scored.numBookmarks()}</span>
              </p>
              #if (${article.domain()})
              <p class="original">
                <a href="${article.url()}" rel="canonical">
                  <img src="http://${article.domain()}/favicon.ico" alt="" width="16" height="16" />
                  <span>${article.domain()}</span>
                </a>
              </p>
              #end
              #if ($isLoggedIn)
              <a class="add" href="/article/add/${article.articleId()}">Add</a>
              #end
            </li>
            #end
          </ul>
        </section>
        <hr />
        #set( $ogRef = $uri )
        #parse("templates/sharing.vm")
      </div>
      <footer>
        <p>Persnicketly &copy; 2011</p>
        <a href="/about">about</a>
      </footer>
    </div>
    <script src="/js/persnicketly.js"></script>
  </body>
</html>

