<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    #set( $title = "Last Week's Top Articles on Persnicketly" )
    #set( $description = "Higest rated recent articles according to our Readability users in the past week." )
    #set( $ogTitle = "Persnicketly" )
    #set( $ogDescription = "Collecting Readability stars since 2011" )
    #parse("templates/head.vm")
  </head>
  <body>
    <div id="wrapper">
      <header>
        #if (${user.isEmpty()})
        <h1><a href="/">Persnicketly<span class="headerCurl"></span></a></h1>
        #else
        <h1><a href="/article/list">Persnicketly<span class="headerCurl"></span></a></h1>
        #end
      </header>
      <div id="content" class="list week">
        <section>
          <header>
            <h2>Past Week's Favorites</h2>
            <h3 class="generated">from ${since.toString("MMMM dd, yyyy")} to ${until.toString("MMMM dd, yyyy")}</h3>
          </header>
          #renderArticles($articles $user)
        </section>
        <hr />
        #set( $ogRef = $uri )
        #parse("templates/sharing.vm")
      </div>
      #footer()
    </div>
    <script src="/js/libs/ender.min.js"></script>
    <script src="/js/libs/reqwest.min.js"></script>
    <script src="/js/persnicketly.js"></script>
  </body>
</html>

