<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title><![CDATA[Top Articles on Persnicketly]]></title>
  <link href="${uri_base}/article/list.atom" rel="self"/>
  <link href="${uri_base}/"/>
  <updated>{{ site.time | date_to_xmlschema }}</updated>
  <id>${uri_base}${uri}</id>

  <generator uri="${uri_base}${uri}">Persnicketly</generator>

  #foreach( $scored in $articles )
    #set( $article = $scored.article() )

    <entry>
      <title type="html"><![CDATA[${article.title()}]]></title>
      <link href="${uri_base}/article/read/${article.articleId()}"/>
      <!--<updated></updated>-->
      <id>${article.articleId()}</id>
      <content type="html"><![CDATA[
        <div class="excerpt">${article.excerpt().get()}</div>
        <div class="data">
          <p>
            <span>Times Favorited: ${scored.numFavorites()}</span>
            <span>Times Bookmarked: ${scored.numBookmarks()}</span>
          </p>
        </div>
      ]]></content>
    </entry>
  #end

</feed>

