    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>${title}</title>
    <meta property="description" content="${description}" />
    <meta property="author" content="Rachel Diesel & Bryan J Swift" />
    <meta property="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    #if ($ogTitle && $ogDescription)
    <!-- Facebook stuff -->
    <meta property="og:image" content="http://persnicketly.com/img/open-graph-icon.png" />
    <meta property="og:title" content="${ogTitle}" />
    <meta property="og:description" content="${ogDescription}" />
    <meta property="og:site_name" content="Persnicketly" />
    <meta property="og:type" content="persnicketly:webapp" />
    #end
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="/humans.txt" rel="author" />
    <link href="/css/persnicketly.css" rel="stylesheet" type="text/css" />
    <script src="/js/libs/modernizr-custom.js"></script>
    <script src="http://use.typekit.com/rxz7gnq.js"></script>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <script>
    (function(d,t) {
      try{Typekit.load();}catch(e){}
      var el = d.createElement(t)
        , sib = d.getElementsByTagName(t)[0];
      el.src = '/js/tracking.js';
      el.async = 1;
      sib.parentNode.insertBefore(el, sib);
    })(document, 'script');
    </script>

