<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    #set( $title = "Be Persnicketly" )
    #set( $description = "Collecting your favorite articles from Readability." )
    #set( $ogTitle = "Persnicketly" )
    #set( $ogDescription = "Collecting Readability stars since 2011" )
    #parse("templates/head.vm")
  </head>
  <body>
    <div id="wrapper">
      <header>
        #if (${user.isEmpty()})
        <h1>Persnicketly<span class="headerCurl"></span></h1>
        #else
        <h1><a href="/article/list">Persnicketly<span class="headerCurl"></span></a></h1>
        #end
      </header>
      <div id="content" class="home">
        <section id="what" class="col">
          <h2>The best of Readability's bookmarks at your desk or on-the-go.</h2>
          <p>We're collecting and curating the most favorited Readability bookmarks and serving them to you when you want them, where you want them.</p>
          <div class="getData">
            <h4>Get started with Persnicketly</h4>
            <a id="signIn" class="cta" href="/readability/login">
              <img src="/img/blue_chair.png" alt="" height="29" />
              <span>Sign in to Readability</span>
            </a>
            <p class="please">We're just getting started and we need all the data we can get. <strong>By logging in and approving our app you're helping a ton!</strong></p>
          </div>
        </section>
        <section id="more" class="col last">
          <img class="hero" src="/img/chair_stars.png" alt="" />
          <h4>Want to see what Persnicketly looks like?</h4>
          <a id="articles" class="cta" href="/article/list">
            <img src="/img/yellow_star.png" alt="" width="33" />
            <span>See top bookmarks</span>
          </a>
          <h4>Maybe you want more details first?</h4>
          <a id="learnMore" class="cta" href="/about">
            <img src="/img/purple_books.png" alt="" width="33" />
            <span>Learn More</span>
          </a>
        </section>
        <hr />
        #set( $ogRef = $uri )
        #parse("templates/sharing.vm")
      </div>
      <footer>
        <p>Persnicketly &copy; 2011</p>
        <a href="/about">about</a>
      </footer>
    </div>
    <script src="/js/persnicketly.js"></script>
  </body>
</html>

