<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    #set( $title = "Learn more about Persnicketly" )
    #set( $description = "Learn more about what Persnicketly is trying to do." )
    #parse("templates/head.vm")
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1><a href="/">Persnicketly<span class="headerCurl"></span></a></h1>
      </header>
      <section>
        <div class="col">
          <div id="about">
            <h2>About Persnicketly</h2>
            <p class="description">We're collecting and curating the most favorited Readability bookmarks and serving them to you when you want them, where you want them.</p>
            #if (${user.isEmpty()})
            <h4>Help to get Persnicketly started</h4>
            <a id="signIn" class="cta" href="/readability/login">
              <img src="/img/blue_chair.png" alt="" height="29" />
              <span>Sign in to Readability</span>
            </a>
            #end
          </div>
          <div id="more">
            <h2>More on Readability</h2>
            <p class="description">Readability allows any web page to become more readable by stripping out the distractions that make reading content on the web challenging. While there is a small membership fee 70% of that fee goes directly to publishers and content creators in your reading list. What about the other 30%? Well that goes to improving the tools and services offered to you by Readability. Pretty cool, huh?</p>
            #if (${user.isEmpty()})
            <h4>No Readability account?</h4>
            <a id="signUp" class="cta" href="/readability/login">
              <img src="/img/pink_chair.png" alt="" height="29" />
              <span>Sign up for Readability</span>
            </a>
            #end
          </div>
        </div>
        <div class="col last">
          <div id="soon">
            <h2>Coming Soon!</h2>
            <p class="description">We're launching soon, just as soon as all the design work is finished and the coding is &lt;/done&gt;. Help is get out database populated by siging in above and approving our app, we'll publish an article to your Readbility reading list when we launch.</p>
          </div>
          <div id="who">
            <p>Persnicketly was created by</p>
            <p><span id="bryan">Bryan J Swift</span> &amp; <span id="diesel">Rachel Diesel</span></p>
          </div>
        </div>
      </section>
      <footer>
        <p>Persnicketly &copy; 2011</p>
        <a class="active" href="/learn-more">about</a>
      </footer>
    </div>
    <script src="/js/persnicketly.js"></script>
    <script type="text/javascript">
    var _sf_async_config={uid:24035,domain:"persnicketly.com"};
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
           (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
           "js/chartbeat.js");
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
         loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
    </script>
  </body>
</html>

