#if (!$ogRef)<p style="color:red; font-size: 3em;">You need to include <code>ogRef</code></p>#end
<section id="sharing">
  <div class="col">
    <h2>Much like a growing flower needs sun, our growing project needs data.</h2>
    <h1>We need your help to make that happen!</h1>
    <img class="stars" src="/img/chair_stars.png" alt="" />
  </div>
  <div class="col last">
    <h4>Help us out on Twitter</h4>
    <span class="share cta twitter">
      <img src="/img/blue_twitter.png" alt="" width="28" />
      <span>Tweet about us</span>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="persnicketly" data-url="http://persnicketly.com?twt-ref=${ogRef}">Tweet</a>
    </span>
    <h4>Tell you friends on Facebook</h4>
    <span class="share cta">
      <img src="/img/blue_facebook.png" alt="" width="21" />
      <span>Like us on Facebook</span>
      <div id="fb-root"></div>
      <div class="like-wrapper">
        <fb:like class="fb-like" href="http://persnicketly.com" send="false" layout="button_count" width="90" show_faces="false" font="" ref="${ogRef}"></fb:like>
      </div>
    </span>
    <!--
    <span class="share cta">
      <img src="/img/blue_facebook.png" alt="" width="21" />
      <span>Tell someone specific</span>
      <fb:send class="fb-send" href="http://persnicketly.com" font=""></fb:send>
    </span>
    -->
  </div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({appId: '130183613727280', status: true, cookie: true, xfbml: true});
      var sharing = document.getElementById('sharing');
      sharing.className = sharing.className + ' fb-ready';
    };
    (function() {
      function insertScript(s) {
        var e = document.createElement('script');
        e.async = true;
        e.src = s;
        document.getElementById('sharing').appendChild(e);
      }
      insertScript('//connect.facebook.net/en_US/all.js');
      insertScript('//platform.twitter.com/widgets.js');
    })();
  </script>
</section>
